.container {
   margin: 100px auto;
   text-align: center;
   width: 700px;
}

.field-line {
  padding: 8px;
}

.container-search {
  margin: 50px auto;
  text-align: center;
}

.container-msg {
  margin: 5px;
  text-align: center;
}