# build output
dist
.next

#dependencies
node_modules

#logs
*.log
npm-debug.*

#coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store

# dotenv environment variables file
.env

# Workspace files are user-specified
*.sublime-workspace

# Project files
*.sublime-project


# Next
.next/
